body{
background-color: bisque;
}
#slideshow {
    width: 400px;
    height: 400px;
    display: block;
    margin: auto;
    }
#caption{
text-align: center;
}
#button{
text-align: center;
}
#previous, #next{
font-size: medium;
}
footer{
    text-align: center;
}