* {
    font-family: 'MetropolisRegular';
    font-weight: normal;
    font-style: normal;
    color: #000000;
    text-align: center;
}
body {
    width: 70%;
    margin: 0 auto;}
#content {
    overflow:auto;
}
#nav, #feature, #footer {
    margin: 2%;}
.column1, .column2, .column3 {
    width: 35%;
    float: left;
    margin: 1%;}
.column3 {
    margin-right: 0%;}
li {
    display: inline;
    padding: 0.5em;}
#nav, #footer {
    background-color: #efefef;
    padding: 0.5em 0;
    font-size: medium;
}
#feature, .article {
    height: 10em;
    margin-bottom: 1em;
    background-color: #efefef;
word-spacing: 1px;
line-height: 16px;
}
#content{
background-color: #a5a58d;
}
#nav{
background-color: #c8bb9e;
margin-top: 2%;
}
#footer{
background-color: #c8bb9e;
}
#feature{
background-color: #eddcd2;
background-image: url("/midterm/smalldog.gif");
background-position: right;
background-repeat: no-repeat;
background-size: contain;
}
.column1{
background-color: #dedbd1;
margin-left: 10%;
height: 17em;

}
.column2{
background-color: #dedbd1;
float: right;
margin-right: 10%;
height: 17em;
}
.column3{
background-color: #dedbd1;
}
body{
background-image: url("https://cdn.wallpapersafari.com/54/35/AXfS8j.jpg");
}
h1 {
font-family: 'MetropolisRegular';
   font-weight: normal;
   font-style: normal;
}
.left{
    background-color:  #fcf4c2;
    background-image: url("https://www.sortiesdvd.com/itunesimages/tv/saison/1367.jpg");
    background-size: cover ;
    background-repeat: no-repeat;
    float: left;
    }
.right{
    background-color: #f4c2fc;
    background-image: url("/midterm/s-l500.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    float: right;
    }
.right, .left{
width: 164px;
height: 155px;
    }
iframe{
    width: 320px;
    height: 150px;
    border: 0px;
}
#datetime{
    text-align: center;
    }